@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Inclusive+Sans&family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  padding: 2px 10px;
}
li {
  list-style: none;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.logo {
  font-size: 3rem;
}
.logo span{
  color: orange;
}
header {
  /* background-image: url("BACKGROUND-4.jpg"); */
  background-image: url('BACKGROUND-4.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 30px 80px;
  /* position: relative; */
}
.UL li a {
  position: relative;
}
.UL li a::before {
  content: "";
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-bottom: 2px solid indianred;
  transition: 0.4s linear;
}
.UL li a:hover::before {
  width: 90%;
}

.UL {
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* font-size: 1.2rem; */
}

.register a {
  background-color: indianred;
  padding: 8px;
  border-radius: 15px;
  transition: 0.4s linear;
}
.register a:hover {
  background-color: transparent;
  border: 1px solid indianred;
  padding: 8px;
  border-radius: 15px;
}

.invible {
  display: none;
  padding-top: 10px;
  line-height: 2;
  position: absolute;
}
.invible li a:hover {
  color: rgb(130, 154, 233);
}
.hoverable:hover .invible {
  overflow: auto;
  display: block;
  transition: 0.1s linear;
}

/* #icon i:hover {
 rotate: 180deg;
} */
#icon:hover i{
    rotate: 180deg;
    transition: 0.3s linear;
}

/* now we are out of navbar */

.one h1 {
  font-size: 4rem;
}
.one h1 span,
.active {
  color: orange;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form input {
  width: 80%;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 1.2rem;
  border: none;
}
form button {
  width: 25%;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: orange;
  border: 1px solid black;
}



/* +++++++++++++++++++Trial */

.container {
  position: relative;
  color: black;
  gap: 50px;
  display: flex;
  top: 20%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.one {
  color: white;
  width: 38vw;
  font-family: "Inclusive Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.two {
  width: 40%;
}

.two img {
    width: 100%;
}



