* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  min-height: 100vh;
  background-color: #b9ac92;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.text {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.text p {
  opacity: 0.6;
}
.text span {
  color: blue;
  opacity: 10;
}
.text h1 {
  font-size: 3.5rem;
}

.box {
  margin-bottom: 20px;
  width: 40vw;
  min-height: 500px;
  background-color: #fff8c9;
  padding: 10px;
  border-radius: 30px;
  scroll-behavior: smooth;
}
#item {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 2px gray;
}

#to-do-list {
  margin-top: 10px;
  list-style: none;
}

#to-do-list li {
  position: relative;
  background-color: #04364a;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  padding-right: 40px;
  text-transform: capitalize;
  text-align: justify;
  user-select: none;
}

#to-do-list li i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.done {
  text-decoration: line-through;
  color: black;
  background-color: #1f4172 !important;
}

/* just for try */

@media screen and (max-width: 920px) {
  .text {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .text h1 {
    font-size: 2rem;
  }

.box {
    margin-bottom: 20px;
    width: 75vw;
    min-height: 300px;
    background-color: #fff8c9;
    padding: 10px;
    border-radius: 30px;
  }
}
