* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
}
body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}


a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
.flex {
  display: flex;
  flex-direction: column;
}

/* Nav classes */
nav {
  position: fixed;
  background-color: #111;
  padding: 0px 25px 0px 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
}

nav ul {
  display: flex;
  gap: 40px;
}

.nav-search {
  background-color: transparent;
  padding: 20px;
  /* margin-top: -10px; */
  margin-right: -10px;
  border: none;
}
.nav-search i {
  filter: invert(100%);
  font-size: 1.2rem;
}
.nav-search:hover {
  background-color: red;
}

/* Dropdown */
.dropdown {
  display: none;
}
.dropdown-ul {
  background-color: #fff;
  color: black !important;
}

/* header section*/

header {
  /* margin-top: 30px; */
  /* position:absolute; */
  background-image: url("img/la.jpg");
  background-position: center;
  background-size: cover;
  height: 750px;
  width: 100%;
  color: white;
  position: relative;
  top: 60px;
}
header div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* The band section */

.The-Band {
  margin-top: 50px;
  padding: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 300px; */
  /* height: 100%; */
}

.The-Band .Band-h2{
    font-size: 2rem;
    letter-spacing: 5px;
}

.band p {
  text-align: justify;
}
.band .band-slogan {
  opacity: 0.7;
}

.band {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.proper-width {
  max-width: 750px;
  height: 400%;
  /* line-height: 1.5; */
}

/* bandmember img  */

.NameImg {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  gap: 15px;
  font-size: 20px;
}
.img img {
  /* height: 100%; */
  width: 150px;
}

/* Tour Dates */
.color {
  background-color: #111;
  height: 100%;
  color: white;
}
.month{
    /* width: 700px; */
    margin-top: 40px;
}

.month ul li{
text-align:left;
 width: 100%;
 background: white;
 color: rgba(0, 0, 0, 0.8);
 /* opacity: 0.5; */
 border-bottom: 1px solid rgba(0, 0, 0, 0.4);
 padding: 20px;
 line-height: 10px;
 font-size: 1.2rem;
}

.sold-Out{
    background-color: #f44336 !important;
    color: white !important;
    /* font-weight: bold; */
    padding: 5px;
    margin-left: 10px;
}


.threeLeft{
    border: 2px solid #111;
    padding: 8px;
    border-radius: 50%;
    font-size: 1rem;
    float: right;
    /* bottom: 10px; */
    background-color: #111;
    color: #fff;
    margin-top: -10px;
}

.month ul li:nth-child(3){
    position: relative;
}


/* Cards */
.cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #111;
}
.card1{
    width: 33.33%R;
    height: 100%;
    /* border: 2px solid red; */
    background: white;
    /* padding: 15px 20px; */
}
.card1 div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.btn-dark{
    width: 100px;
    padding: 10px 8px;
    background-color: #111;
    color: white;
    border: none;
    font-size: 1rem;
}
.card1 img{
    width: 100%;
}




/* Contact Box -----------------*/

.contact{
    margin-top: -20px;
}

.contact-box{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 40px;
}

.detail-box{
    width: 50%;
    font-weight: bold;
}
.detail-box p{
    margin-top: 10px;
}
.detail-box p span{
    margin-right: 10px;
}

.form-box input{
   height: 30px;
   padding: 15px;
   /* width: 50%; */
}
.form-box button{
   margin-top: 10px;
   float: right;
}
.form-box .Two-Input{
   display: flex;
   gap: 10px;
}
.form-box .one-Input{
   margin-top: 10px;
}
.form-box .one-Input input{
   width: 100%;
}

.form-box input:nth-child(3){
    /* width: 100%; */
    flex-basis: 1;
}

/* Footer */
footer{
    text-align: center;
    line-height: 2;
    height: 180px;
    width: 100%;
    padding-top: 40px;
    opacity: 0.8;
}
footer i{
    font-size: 1.3rem;
    margin-left: 5px;
}
footer  a{
    color: black;
    /* text-decoration: underline; */
}

