*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #191919;
}
.gallary{
    width: 900px;
    display: flex;
    overflow-x: scroll;
    gap: 20px;
}
.gallary div{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    flex: none;
    padding: 10px 0px;
    /* margin-right: 10px; */
}

.gallary div img{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.4s;
    aspect-ratio: 2/2;
    object-fit: cover;
    /* mix-blend-mode: darken; */
}

.gallary::-webkit-scrollbar{
    display: none;
}

.gallary-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backbtn, #nextbtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallary div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    cursor: pointer;
}
