*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/background.png);
    background-size: cover;
    background-position:center;
    padding: 10px 10%;
    color: #fff;
}

.hero h3{
    font-size: 30px;
    margin-top: 15%;
    font-weight: 400;
}

.hero h1{
    font-size: 50px;
    margin-top: 30px;
}

.hero p{
    margin: 10px 0 50px;
}

form{
    display: flex;
    background: #fff;
    width: fit-content;
}
form input{
    border: 0;
    outline: none;
    padding: 10px 20px;
    width: 400px;
    height: 70px;
    font-size: 16px;
}
form button{
    border: none;
    outline: none;
    background: #61b752;
    width: 100px;
    height: 70px;
    cursor: pointer;
}
span{
    color: #61b752;
    margin-top: 10px;
    display: block;
}